h1 How to Connect to Sonarr
p.lead Here are some instructions on how to connect to Sonarr.
ul
  li Go to Settings > Connect > Add > Webhook
  li Uncheck "On Grab", "On Upgrade" & "On Rename"
  li Apply a filter if needed
  li Enter the url to this server
code
  span.host
  | /notifications/sonarr
